Resources/XML/Schemas/level-resources.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:lr="LevelResources"
           xmlns:common="Common"
           xmlns:obj="Objects"
           targetNamespace="LevelResources">

    <xs:import schemaLocation="common.xsd" namespace="Common"/>
    <xs:import schemaLocation="objects.xsd" namespace="Objects"/>


    <xs:element name="level">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="object" type="obj:object" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>